html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar {
  font-size: 30px;
  height: 70px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

#container {
  height: auto;
  width: 540px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin: 0 auto;
}

#generate-sudoku {
  margin: auto;
  display: block;
}

#solve {
  margin: auto;
  display: block;
}

#container div {
  background-color: whitesmoke;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 30px;
  color: green;
}

#container div:hover {
  background-color: lightskyblue;
}

.lsb {
  border-left: black 2px solid;
}

.bsb {
  border-bottom: black 2px solid;
}

.rsb {
  border-right: black 2px solid;
}

.tsb {
  border-top: black 2px solid;
}

.ldb {
  border-left: black 0.6px dashed;
}

.bdb {
  border-bottom: black 0.6px dashed;
}

.rdb {
  border-right: black 0.6px dashed;
}

.tdb {
  border-top: black 0.6px dashed;
}

.btn {
  font-size: 16px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 5%;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active {
  background: #469b46;
  color: #ffffff;
  border-color: #469b46;
}

.btn-danger {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 5%;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active {
  background: #0366bd;
  color: #ffffff;
  border-color: #0366bd;
}
